.homeDiv{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.home{
       cursor: pointer;
       width: 250px;
       height: 100px;
       font-size: 20px;
       border-radius: 10px;
       padding-left: 20px;
       display: flex;
       padding-top: 20px;
       gap: 10px;
      
      
}

.logo{
    margin-left: 20px;
}

.icon{
    color: rebeccapurple;
   
}
.home:hover{
    background-color:  #3e97ff;
    color: white;
    /* width: 250px;
    height: 100px; */
    /* margin: auto; */
    padding-top: 10px;
}

.div{
    display: flex;
}
.div  Button {
   margin-left: 20px;
}
.nav{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navBarBtn{
    width: 100px;
    height: 40px;
    background-color: green;
    border: 2px wheat;
}
.btn1{
    color: gray;
    cursor: pointer;
   
}

.btn1:hover{
    text-decoration: underline;
    color: gray;

}

.btn2{
    background-color: #ed64a6;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}